* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    background-color: rgb(250, 211, 217);
    border-radius: 35px;
    display: flex;
    justify-content: center;
    padding: 4px;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 400px ;
}

nav {
    display: flex;
}

a {
    text-decoration: none;
    color: rgb(78, 78, 78);
    margin: 0 24px;
}

a:hover {
    color: black;
    cursor: pointer;
    font-weight: 400;
}

h1, h2 {
    color: rgb(250, 211, 217);
}

h1 {
    font-weight: 500;
    font-size: 55px;
    margin: 0 0 70px 0;
}

h2 {
    font-weight: 300;
    font-size: 20px;
    margin: 12px 0;
}

p {
    color: rgb(78, 78, 78);
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 40px;

}
.container {
    display: flex;
    align-items: inline;
    justify-content: space-between;
    margin: 100px 140px;
}

.textContainer {
    max-width: 45%;
    margin-right: 150px;
}

img {
    max-width: 50%;
    height: auto;
}

footer {
    background-color: rgb(250, 211, 217);
    max-width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* посмотреть почему размер текста не контролируется*/
footer h6 {
    font-weight: 300;
    color: black;
    size: 16px;
}


@media (max-width: 600px) {
    header {
        flex-direction: row;
        justify-content: center;
        max-width: 100%;
        padding: 10px;
        margin: 20px 50px;
    }

    nav {
        flex-direction: row;
        max-width: 100%;
        gap: 20px;
    }

    a {
        margin: 0;
    }

    .container {
        flex-direction: column;
        margin: 70px 50px;
    }

    .textContainer {
        max-width: 100%;
        margin: 0;
    }

    img {
        max-width: 100%;
    }
}



@media (min-width: 600px) and (max-width: 900px) {
    .card {
        width: 50%;
    }
}