* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    background-color: rgb(250, 211, 217);
    border-radius: 35px;
    display: flex;
    justify-content: center;
    padding: 4px;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 400px ;
}

a {
    text-decoration: none;
    color: rgb(78, 78, 78);
    margin: 0 24px;
}

a:hover {
    color: black;
    cursor: pointer;
    font-weight: 400;
}

h1, h2 {
    color: rgb(250, 211, 217);
}

h1 {
    font-weight: 500;
    font-size: 55px;
    margin: 0 0 70px 0;
}

h2 {
    font-weight: 300;
    font-size: 20px;
    margin: 12px 0;
}

p {
    color: rgb(78, 78, 78);
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 40px;

}
.main {
    display: flex;
    align-items: inline;
    justify-content: space-between;
    margin: 100px 140px;
}

.textDiv {
    max-width: 45%;
    margin-right: 150px;
}

img {
    max-width: 50%;
}

footer {
    background-color: rgb(250, 211, 217);
    max-width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h6 {
    font-weight: 300;
    color: black;
    size: 16px;
}